.navBar{
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: aquamarine;

}
*{
    background-color: aquamarine;
}
.navBar a {
    text-decoration: none;
    color: wheat;
    font-size: 50px;

}
#section {
    margin-top: 80px;
}
.column {
    float: left;
    background-color: aqua;
    width: 300px ;
    height: 350px;
    border-radius: 15px;
    padding: 10px;
}
.thumbnail {
    border-radius: 15px;
    width: 250px;
    height: 200px;
}
h3{
    color: whitesmoke;
}
.card {
    text-align: center;
    padding: 10px;
    height: 500px;

    
}
